## Data Preprocessing

In [19]:
import pandas as pd
import nltk
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('SQLiV-3.csv',encoding='utf-8')
data.head()

,Sentence,Label,Unnamed: 2,Unnamed: 3
0,""" or pg_sleep ( __TIME__ ) --",1,NaN,NaN
1,create user name identified by pass123 tempora...,NaN,1,NaN
2,AND 1 = utl_inaddr.get_host_address ( ...,1,NaN,NaN
3,select * from users where id = '1' or @ @1 ...,1,NaN,NaN
4,"select * from users where id = 1 or 1#"" ( ...",1,NaN,NaN

In [4]:
len(data)

30919

In [5]:
data = data.dropna(subset = ['Sentence','Label'])

In [6]:
data = data.reset_index()

In [7]:
len(data)

30649

In [8]:
Labels = [1 for x in range(len(data['Label']))]
for i in range(len(data['Label'])):
    try:
        Labels[i] = int(data['Label'][i])
    except:
        pass

In [9]:
X = data['Sentence']
y = Labels

In [10]:
corpus = []
for i in range(0, len(X)):
    print(i,end = '\r')
    query = str(X[i])
    query = query.lower()
    corpus.append(query)

## Feature Extraction

In [11]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [51]:
cv = CountVectorizer(max_features = 50)
tfidf = TfidfVectorizer(max_features = 50)

In [52]:
X_cv = cv.fit_transform(corpus).toarray()
X_tfidf = tfidf.fit_transform(corpus).toarray()

In [53]:
X_cv.shape, X_tfidf.shape

((30649, 50), (30649, 50))

## Model Creation

In [54]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [55]:
def assembled(X,y):
    X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.25,random_state = 0)
    model = MultinomialNB().fit(X_train, y_train)
    y_pred = model.predict(X_test)
    confusion_m = confusion_matrix(y_test,y_pred)
    print(confusion_matrix(y_test,y_pred))
    precision = round(confusion_m[0][0]/sum(confusion_m[0]),3)
    print('Precision: ', precision)
    recall = round(confusion_m[0][0]/(confusion_m[0][0]+confusion_m[1][0]),3)
    print('Recall: ', recall)
    accuracy = round(accuracy_score(y_test,y_pred),3)
    print('Accuracy: ', accuracy)
    
    return (precision,recall,accuracy)

In [56]:
X = [X_cv,X_tfidf]
title = ['Count Vectorizer','TF-IDF']
Y = []

## Performance Testing

In [57]:
for i in range(len(X)):
    print(title[i])
    temp = assembled(X[i],y)
    Y.append(temp)
    print('\n\n')

Count Vectorizer
[[4800   30]
 [ 657 2176]]
Precision:  0.994
Recall:  0.88
Accuracy:  0.91



TF-IDF
[[4744   86]
 [ 494 2339]]
Precision:  0.982
Recall:  0.906
Accuracy:  0.924